<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript - Card Game</title>
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://kit.fontawesome.com/2745e261bc.js"></script>
   
</head>

<body>
    <%- include('nav'); -%>
    <!-- Preload Game Sounds -->
<audio preload="auto" class="audio-win" >
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/dino-win.mp3">
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/dino-win.ogg">
</audio>
<audio preload="auto" class="audio-1" >
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/audio-ahahah.mp3">
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/audio-ahahah.ogg">
</audio>

<audio preload="auto" class="audio-3" >
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/audio-egg.mp3">
  <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/audio-egg.ogg">
</audio>

<div class="wrapper">
    <div class="high-score">
        <h2 class="hs">High Score: <%=highScore%></h2></div>
    <div class="w0">
       
<h2 class="score" >Score:  </h2>
<h2 class="counter-value" id="score-value">0</h2>

</div>
<div class="w1">
<h2>No of moves:<h2 id="counter-value">15</h2></h2></div>

<!-- <div class="timer"  id="timer" style="font-size: 23px; font-weight: bold;"><p>Time: <p> 0 sec</p></p></div> -->

</div>
<center>

    <button class="btn" > Start</button>
    <div class="container" >
        <ul class="cards">
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-1.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-2.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-3.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-4.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-5.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-6.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-7.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-8.png" alt="card-image">
                </div>
            </li>
            
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-1.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-2.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-3.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-4.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-5.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-6.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-7.png" alt="card-image">
                </div>
            </li>
            <li class="card">
                <div class="view front-view"></div>
                <div class="view back-view">
                    <img src="/images/card/img-8.png" alt="card-image">
                </div>
            </li>
        </ul>
        
        <div class="popup1">
            <div class="popup-content">
                
                <button id="restart-button">Restart</button>
            </div>
        </div>
        
    </div>
    
</center>
    <!-- <script src="game.js"></script> -->
    <script src="/JS/card.js"></script>
</body>

</html>