<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <title>Test</title>
</head>
<body>
    <%- include('nav'); -%>
        <div class="game-zone">
            <h1 class="game-zone__title">Game Zone</h1>
            <div class="game-zone__cards">
                <% for(var i = 0; i < games.length; i++) { %>
              <div class="game-card" onclick="window.location.href = '/game/<%=games[i]%>'">
                <img src="/images/gamelogos/<%=games[i]%>.png" alt="Game 1" class="game-card__image">
                <h3 class="game-card__title"><%=games[i]%></h3>
              </div>
                <%}%>
              <!-- Add more game cards as needed -->
            </div>
          </div>
      
</body>
</html>