<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/load.css" /> -->

</head>

<body>

    <div class="loader">
        <div class="loader-wheel"></div>
        <div class="loader-text"></div>
    </div>

    <script>
        $(window).on("load", function () {
            $(".loader").fadeOut("slow");
        })
    </script>

</body>

</html>